In [7]:
import numpy as np
import pandas as pd
import re
import datetime

## 오르비 전처리

In [8]:
data = pd.read_csv('./orbi_IE_final.csv')
data = data.drop(columns=['Unnamed: 0'])

In [9]:
new_date = []
for i in data['date']:
    new_date.append(i.split('\n')[1][:-6])

In [10]:
date_list = []
for i in new_date:
    if re.search(' 01',i):
        j = i.replace(' 01', ' 21/01')
        date_list.append(j)
    else : 
        date_list.append(i)

In [11]:
data = data.drop(columns=['date'])

In [12]:
date = []
for i in date_list:
    dt = i.replace(' ','20')
    dt = dt.replace('/','-')
    dt = pd.to_datetime(dt)
    date.append(dt)

In [13]:
data['date'] = date

In [14]:
data['platform_num'] = [5 for i in range(len(data['content']))]

In [15]:
df = data.reindex(columns=['platform_num','date','content'])

In [16]:
df

,platform_num,date,content
0,5,2021-01-23,\n아주대 전화기 중 하나 재학했던 학생인데 아주대 관심 있는 학생들한테 혹시 도움...
1,5,2021-01-23,\n네임밸류 포기하고 낮은 대학 산공 쓰면..산공의 뜬다 그래도 대우 받는 학벌은설...
2,5,2021-01-19,\n컴공을 못간다면 산공 복수전공후에 it계열을 준비해보고 싶은데\n
3,5,2021-01-17,\n23학번 보내줘\n
4,5,2021-01-17,"\n제대로 대학 교육을 받지 않은 분들이 항상 하는 말이 있다.""대학이라는게 별거 ..."
...,...,...,...
2144,5,2019-01-24,\n관리자에 의해 삭제된 댓글입니다.\n
2145,5,2019-01-24,\n의견 감사합니다\n
2146,5,2019-01-24,\n수시의 문제점...\n
2147,5,2019-01-22,\n빅데이터나 인공지능. 머신러닝. 딥러닝 대부부은 학사는 잘 취급안해줘요 ㅠㅠㅠ ...
2148,5,2019-01-22,\nstay...\n

In [ ]:
df.to_csv('./orbi.csv')

# 네이버 카페 전처리

In [2]:
dd = pd.read_csv('./dokchi_final.csv')
dd = dd.drop(columns='Unnamed: 0')

In [3]:
ss = pd.read_csv('./specup_final.csv')
ss = ss.drop(columns='Unnamed: 0')

In [20]:
ds = dd.append(ss)

In [25]:
cafe_date = []
for i in ds['date']:
    k = i.split(' ')[0][:-1]
    k = k.replace('.','/')
    k = pd.to_datetime(k)
    cafe_date.append(k)

In [27]:
ds['date'] = cafe_date

In [31]:
ds['platform_num'] = [7 for i in range(len(ds['content']))]

In [33]:
ds = ds.reindex(columns=['platform_num','date','content'])

In [37]:
ds

,platform_num,date,content
0,7,2020-12-02,25살 산업공학과 스펙 평가 부탁드립니다..!
1,7,2021-08-19,산업공학과에서 전공 이점 살릴수 있는 IT직무가 있을까요??
2,7,2020-07-07,문과대인데 산업공학과 복수전공
3,7,2021-12-23,산업공학과는 취업잘되요?
4,7,2021-01-18,산업공학과는 어디로 가야할까요
...,...,...,...
137,7,2021-03-02,"{'reply': '데이터분석이요', 'thread': '1-0'}"
138,7,2021-03-02,{'reply': '제가아는 지인분도 IT쪽 간다고 자격증 여러개 땃는데 면접 가서...
139,7,2021-03-02,"{'reply': 'it 전략, 기획 분야, 정보시스템 운영으로 정보처리기사 우대하..."
140,7,2020-04-17,{'reply': '보통은 정보처리기사를 먼저 획득을해서 많은 곳을 다방면으로 지원...
141,7,2020-04-17,"{'reply': '데이터 분석 업무도 할 수 있어요', 'thread': '3-0'}"

In [39]:
ds.to_csv('./cafe.csv')